@media(min-width: 768px) {body #header.theme-default{background-color:#fff!important;background-image:url(/images/content/header-bg-frame.webp),linear-gradient(to top,#fff,#fff),url(https://chatgpt.plugin.support/images/content/bg-big-pink.svg),url(/images/content/header-waves-stars.svg)!important;background-size:1500px auto,100% 300px,100% 85%,100% 85%!important;background-repeat:no-repeat!important;background-position:center bottom -30px,center bottom 70px,center bottom -65px,center bottom -165px!important;padding-bottom:80px;overflow:unset}}
@media(min-width: 1024px) {}
@media(min-width: 1280px) {}
@media(min-width: 1480px) {}
@media(min-width: 1780px) {}
@media(min-width: 0) and (max-width:480px) {}
@media(min-width: 0) and (max-width:398px) {}
@media(min-width: 0) and (max-width:320px) {}
@media(min-width: 1025px) and (max-width:1279px) {}
@media(min-width: 769px) and (max-width:1024px) {}
@media(min-width: 480px) and (max-width:768px) {}
